.container{
    display: flex;
    text-decoration: underline;
   justify-content:center;
   padding-top: 30px;
   gap: 20px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.icone{
    display: flex;
    justify-content: end;
   

   
    
}
.img{
    padding-top: 0px;
    height: 200px;
    width: 170px;
    display: flex;
    
   
    
}
